@font-face {
    font-family: "Linux Libertine";
    src: url(fontslibertine/LinLibertine_R.ttf);
}

@font-face {
    font-family: "Linux Libertine Italic";
    src: url(fonts/libertine/LinLibertine_RI.ttf);
}

@font-face {
    font-family: "Trajan";
    src: url(fonts/trajan.ttf);
}

@media (prefers-color-scheme: dark) {
    html:not(.theme-light):root {
        --color-background-main: #222426;
        --color-background-secondary: #1D1F20;
        --color-background-contrast: #3B3D40;
        --color-background-overlay: rgba(9, 10, 13, 0.9);
        --color-content-lead: #FFFFFF;
        --color-content-main: #E1E3E6;
        --color-content-secondary: #909499;
    }
}

:root {
    --color-background-main: #E1E3E6;
    --color-background-secondary: #909499;
    --color-background-contrast: #F2F0EF;
    --color-background-overlay: #3B3D40;
    --color-content-lead: #000000;
    --color-content-main: #222426;
    --color-content-secondary: #1D1F20;
    --font-title: "Trajan";
    --font-primary: "Linux Libertine";
    --font-italic: "Linux Libertine Italic";
}

*, *::before,*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    color: var(--color-content-lead);
    background-color: var(--color-background-main);
    display: block;
    margin: auto;
}

h1, h2 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: var(--font-title);
    color: var(--color-content-main);
    margin: 2% 10% 2% 10%;
    position: center;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 0 0 0;
}

em {
    font-family: "Linux Libertine Italic";
}

.note {
    color: var(--color-content-secondary)
}

nav.header {
    font-family: var(--font-title);
    font-size: 1em;
    font-weight: 800;
    margin: 0%;
    background-color: var(--color-background-contrast);
    ul {
        margin: 0;
        list-style-type: none;
        li {
            padding: 16px 0 16px 16px;
            text-align: left;
            display: inline-block;
            a {
                color: var(--color-content-main);
                text-decoration: none;
            }
        }
    }
}

footer {
    font-family: var(--font-primary);
    background-color: var(--color-background-contrast);
    color: var(--color-content-main);
    position: center;
    margin: 0%;
    padding: 16px 0 16px 16px;
}

div.centered-text {
    margin: auto;
    width: 80%;
    text-align: center;
}
